
@media ( max-width: 767.98px){

		.namadep{
			width: 600px;
		}
		.namabel{
			width: 600px;
		}
		.mail{
			width: 600px;
		}
		.pass{
			width: 600px;
		}
		.addres input{
			width: 600px;
		}
		.register{
			margin:250px auto;
			text-align: left;
		}
}